<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoijoo.pp.member.MemberMapper">
	<insert id="join" parameterType="com.hoijoo.sg.member.Member">
		insert into pproject_member values
			(#{sg_email}, #{sg_name}, #{sg_pw}, #{sg_gender}, #{sg_addr}, #{sg_photo})
	</insert>
</mapper>